body {
    background-color: rgb(247, 240, 181);
    font-family: 'Roboto', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}


header {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.425);
    position: fixed;
    z-index: 1;
    top: 0%;
}

nav {
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 30%;
}

header li {
    padding: 1%;
    display: inline;
}

header a {
    display: flex;
    flex-flow: wrap;
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
    align-items: center;
}

#logoPlusCounter {
    position: relative;
    width: 15%;
    height: 60%;
    bottom: 5%;
    display: flex;
    justify-content: center;   
}

#cartIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    margin-left: 100%;
}


#cartImg{
    color: white;
} 

#cartCounter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 8%;
    top: 0%;
    left: 100%;
    border-radius: 50%;
    color: white;
    background-color: rgb(230, 33, 33);
    z-index: 1;
    font-size: 11px;
}



h2 {
    text-align: center;
}


#topImgKitchen {
    width: 90%;
    height: 60vh;
    margin-left: 5.5%;
    margin-top: 4.5%;
    position: relative;
    z-index: -1;
    filter: brightness(50%);
}

span {
    color: yellow;
    font-style: italic;
}


#txt {
    position:absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    color: white;
    font-size: 25px;
}


#kitchenContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}


#matoContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}


#tstContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}


#mxrContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}


#stvContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}



#imgDivMicrowaves {
    height: 60%;
    width: 90%;
    position: relative;
    border-radius: 30px;
    margin-left: 4%;
}

#imgDivToasters {
    height: 60%;
    width: 90%;
    position: relative;
    border-radius: 30px;
    margin-left: 4%;
}

#imgDivMixers {
    height: 60%;
    width: 90%;
    position: relative;
    border-radius: 30px;
    margin-left: 4%;
}

#imgDivStoves {
    height: 60%;
    width: 90%;
    position: relative;
    border-radius: 30px;
    margin-left: 4%;
} 

.cartBtn {
width: 50%;
border-radius: 30px;
padding: 3px 5px;
height: 4vh;
background-color: red;
color: black;
border-color: white;
box-shadow: white 10px 10px 10px;
margin-left: 25%;
margin-bottom: 5%;
}

.imageFront {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 30px 30px;
    backface-visibility: hidden;
}

.imageBack {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 30px 30px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.imageBack:hover {
    transform: rotateY(180deg);
}


#picAndTextMicrowaves {
    width: 14%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 1s;
    border-radius: 20px;   
}


#picAndTextMicrowaves  p {
margin-left: 5%;
}

#picAndTextMicrowaves:hover {
    transform: scale(1.02);
    box-shadow: black 1px 2px 8px;
}



#picAndTextToasters {
    width: 14%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 1s;
    border-radius: 20px;   
}


#picAndTextToasters  p {
margin-left: 5%;
}

#picAndTextToasters:hover {
    transform: scale(1.02);
    box-shadow: black 1px 2px 8px;
}



#picAndTextMixers {
    width: 14%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 1s;
    border-radius: 20px;
}


#picAndTextMixers  p {
margin-left: 5%;
}

#picAndTextMixers:hover {
    transform: scale(1.02);
    box-shadow: black 1px 2px 8px;
}



#picAndTextStoves {
    width: 14%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 1s;
    border-radius: 20px;
}


#picAndTextStoves  p {
margin-left: 5%;
}

#picAndTextStoves:hover {
    transform: scale(1.02);
    box-shadow: black 1px 2px 8px;
}


.cartBtn:hover,
    .cartBtn:focus {
        background-color: rgb(255, 0, 0);
        color: white;
        cursor: pointer;
    }



    li a:hover {
        color:white;
        font-weight: 600;
    }


footer {
    background-color: rgba(128, 128, 128, 0.363);
    text-align: center;
    font-weight: bold;
}

    @media screen and (max-width: 768px) {
        #txt {
            top: 10%;
        }
        
        #picAndTextMicrowaves {
            width: 26%;
            margin-top: 3%;
        }

        #picAndTextToasters {
            width: 26%;
            margin-top: 3%;

        }

        #picAndTextMixers {
            width: 26%;
            margin-top: 3%;

        }

        #picAndTextStoves {
            width: 26%;
            margin-top: 3%;

        }

        #topImgKitchen {
            width: 100%;
            margin-left: 0;
            margin-top: 5.5%;
        }
        #cartIcon {
            margin-right: 20%;
        }
        #cartCounter {
            margin-left: -8%;
        }
    }

    @media screen and (max-width: 425px) {
        nav li {
            margin: 3%;
        }

        nav li a {
            margin-left: 12%;
        }

        #txt {
            top: 15%;
            font-size: 90%;
        }
        
        #topImgKitchen {
            width: 100%;
            margin-top: 17.5%;
            height: 30vh;
        }

        #picAndTextMicrowaves {
            width: 60%;
            margin-bottom: 4%;
        }

        #picAndTextToasters {
            width: 60%;
            margin-bottom: 4%;
        }

        #picAndTextMixers {
            width: 60%;
            margin-bottom: 4%;
        }

        #picAndTextStoves {
            width: 60%;
        }
        
        #cartIcon {
            margin-right: 50%;
        }
        #cartCounter {
            margin-left: -25%;
            margin-top: 1%;
            width: 20%;
        }

        #logoPlusCounter {
            width: 25%;
        }
    }